# source code
src
index.html

# compiler
tsconfig.json
webpack.config.js
postcss.config.js


# tests
test
jest.config.js
coverage

#  lint
.eslintrc.js
.prettierrc

# IDE - VSCode
.vscode

# git
.git
